a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    white-space: nowrap;
    margin-top: 0.8em;
}

.navitem {
    margin: 0 0.6em;
    text-decoration: none;
    font-size: 0.9em;
    color: black;
}

#apps {
    margin: 0;
    padding: 8px;
    height: 24px;
    height: 24px;
    background-color: white;
    border-radius: 20px;
}

#apps:hover {
    background-color: rgb(218, 220, 224);
}

#signin {
    background-color: #1a73e8;
    padding: 0.6em 1.8em;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}

#signin:hover {
    background-color: #2b7de9;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: #f2f2f2;
}

footer #lower {
    display: flex;
    justify-content: space-around;
    padding: 15px 0px;
}

footer #location {
 color: rgba(0,0,0,.54);
 padding: 15px 30px;
 border-bottom: 1px solid rgb(218, 220, 224);
}

footer a {
    color: #70757a;
    padding: 15px;
}
